@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,500');
@import url('https://fonts.googleapis.com/css?family=Righteous');

:root {
	--text: #333333;
	--bkg-primary: #fafafa;
	--bkg-secondary: #d3d3d3;
	--bkg-tertiary: #b1b1b1;
	--bkg-quaternary: #929292;
/*	--accent-light: #ff4242; classic bright red
	--accent-dark: #db1c1c;
	--accent-lighter: #ffd0d0;*/
	/*--accent-light: #ef5169; mild red
	--accent-dark: #b7123f;
	--accent-lighter: #ff8597;*/

	--accent-dark: #008e76;	/*really cool turquoise color scheme*/
	--accent-light: #00b5a5;
	--accent-lighter: #85e0d9;
}
 
* {
	-webkit-tap-highlight-color: transparent;
	touch-action: manipulation;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-ms-overflow-style: none;
}
.selectable, .selectable * {
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}
*:focus {
	outline: none !important;
}

::-webkit-scrollbar {
	display: none;
}

button, a, nav, header {
	-webkit-user-select: none;
	user-select: none;
}

body {
	background: var(--bkg-primary);
	color: var(--text);
	margin: 0;
	font-family: 'open sans', sans-serif;
	margin-top: 64px;
	min-width: 100%;
}

body.preload * {
	transition: none !important;
}

header {
	height: 64px;
	top: 0;
	left: 0;
	right: 0;
	z-index: 3;
	position: fixed;
	background: var(--text);
	display: flex;
	justify-content: space-between;
	/*box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);*/
}

#logo {
	font: 30px 'Righteous', sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: var(--bkg-primary);
}

.wrapper {
	width: 30px;
	height: 30px;
	transition: all 0.1s ease-in;
	border-radius: 999px;
}

.wrapper.held-down, .wrapper:active {
	transition: all 0.05s ease-out;
	background: rgba(255, 255, 255, 0.3);
	box-shadow: 0 0 0 12px rgba(255, 255, 255, 0.3);
}

#hamburger-menu {
	padding-right: 16px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#top-back-button {
	padding-left: 16px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#hamburger-menu svg, #top-back-button svg {
	cursor: pointer;
	position: relative;
}

#hamburger-menu svg g, #top-back-button svg g {
	fill: var(--bkg-primary);
	transition-duration: 0.3s;
}

#hamburger-menu svg:active g, #hamburger-menu svg.held-down g, #top-back-button svg:active g, #top-back-button svg.held-down g {
	/*fill: var(--bkg-tertiary);*/
	/*transition-duration: 0s;*/
}

#hamburger-menu svg::after {

}

nav {
	position: fixed;
	width: 50%;
	min-width: 250px;
	max-width: 320px;
	left: 0;
	top: 0;
	bottom: 0;
	z-index: 10;
	background: #ffffff;
	box-shadow: none;
	transform: translateX(-100%);
	transition: transform 0.2s, box-shadow 0.2s;
	transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
	-webkit-backface-visibility: hidden;
	overflow-y: auto;
}

nav.active {
	transform: none;
	/*box-shadow: 0 0 26px 0 rgba(0, 0, 0, 0.3);*/
	transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

nav a {
	display: flex;
	align-items: center;
	padding: 10px;
	box-sizing: border-box;
	width: 100%;
	height: 50px;
	line-height: 30px;
	text-decoration: none;
	color: var(--text);
	vertical-align: center;
	background: transparent;
	transition: background 0.2s;
	font: normal 1rem 'work sans', sans-serif;
	text-transform: uppercase;
}

nav a.target:active, nav a.target.held-down {
	background: #484848;
}

nav a.target {
	background: var(--text);
	color: var(--bkg-primary);
}

nav a.target img {
	filter: brightness(99999%);
}

nav a:active, nav a.held-down {
	background: var(--bkg-secondary);
	color: var(--text);
	transition: none;
}

nav a img {
	height: 24px;
	margin-right: 15px;
}

#modal-overlay {
	z-index: 9;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	visibility: hidden;
	background: #000;
	transition: all 0.2s linear;
}

nav.active ~ #modal-overlay, #modal-overlay.active {
	opacity: 0.5;
	visibility: visible;
}

#modal-dialog {
	position: fixed;
	background: var(--bkg-primary);
	z-index: 99;
	transform: translate(-50%, -40%);
	top: 50%;
	left: 50%;
	width: 50%;
	height: 75%;
	min-height: 400px;
	max-height: 550px;
	border-radius: 3px;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.2s, width 0.2s, transform 0.2s, visibility 0.2s;
	box-sizing: border-box;
	padding: 50px;
}

@media screen and (max-width: 680px) {
	#modal-dialog {
		width: 100%;
		border-radius: 0;
	}
}

#modal-dialog.active {
	visibility: visible;
	opacity: 1;
	transform: translate(-50%, -50%);
}

#md-buttons {
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	text-align: right;
	font-size: 0; /* or else whitespace between buttons will appear */
}

a#profile {
	height: 75px;
	font-size: 1.5rem;
	background: var(--accent-light);
	color: var(--bkg-primary);
	text-transform: none;
}

a#profile:active, a#profile.held-down {
	background: var(--accent-dark);
}

a#profile img {
	filter: brightness(9999%);
	height: 100%;
}

h1, h2, h3, h4 {
	margin-top: 0;
	text-align: center;
	font-family: 'work sans', sans-serif;
	font-weight: normal;
}

h3.label {
	font-size: 1rem;
	text-transform: uppercase;
	font-family: 'open sans', sans-serif;
}

main {
	padding: calc(10px + 5vw);
	text-align: center;
}

input[type='text'], input[type='password'], textarea {
	outline: none;
	-webkit-appearance: none;
	border: 2px solid #777777;
	display: block;
	font-size: 1rem;
	padding: 0.7em;
	width: 400px;
	box-sizing: border-box;
	max-width: 90%;
	margin: 10px auto;
	transition: border 0.2s;
	font-family: 'open sans', sans-serif;
	user-select: text;
	-webkit-user-select: text; /* fixes safari bug where user-select none disables text boxes */
	box-shadow: none;
	border-radius: 0;
	background: var(--bkg-primary);
}

input[type='text']:focus, input[type='password']:focus, textarea:focus {
	border: 2px solid var(--accent-light);
}

input[type='text']:-webkit-autofill, input[type='password']:-webkit-autofill, textarea:-webkit-autofill {
	box-shadow: 0 0 0 9999px var(--bkg-primary) inset;
}

a {
	color: var(--accent-light);
	text-decoration: underline;
}

a:active {
	color: var(--accent-dark);
}

button, a.button {
	appearance: none;
	display: inline-block;
	outline: none;
	background: var(--accent-light);
	border: none;
	color: var(--bkg-primary);
	font: 500 1rem 'open sans', sans-serif;
	cursor: pointer;
	border-radius: 2px;
	white-space: nowrap;
	min-height: 48px;
	min-width: 96px;
	line-height: 2rem;
	text-align: center;
	padding: 8px 18px;
	margin: 8px;
	text-transform: uppercase;
	transition: box-shadow 0.3s, background 0.3s, color 0.3s;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transform-origin: bottom;
	/*box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);*/
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	text-decoration: none;
}

button.flat, a.button.flat, #md-buttons button {
	color: var(--accent-light);
	background: transparent;
	/*box-shadow: none;*/
}

button + button, a.button + a.button, button + a.button, a.button + button {
	margin-left: 0;
}

button:active, a.button:active, button.held-down, a.button.held-down {
	background: var(--accent-dark);
	transition: box-shadow 0.05s;
	/*box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);*/
}

button.flat:active, button.flat.held-down, a.button.flat:active, a.button.flat.held-down, #md-buttons button:active, #md-buttons button.held-down {
	color: var(--accent-dark);
	background: rgba(0, 0, 0, 0.156);
	/*box-shadow: none;*/
}

.loader, .loader:after {
	border-radius: 50%;
	width: 10em;
	height: 10em;
}
.loader {
	margin: 20px auto;
	font-size: 10px;
	position: relative;
	text-indent: -9999em;
	border-top: 1.1em solid transparent;
	border-right: 1.1em solid rgba(0, 0, 0, 0.2);
	border-bottom: 1.1em solid transparent;
	border-left: 1.1em solid rgba(0, 0, 0, 0.2);
	transform: translateZ(0);
	animation: loading 1.1s infinite cubic-bezier(0.31, -0.32, 0.64, 1.26);
}

@keyframes loading {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

#toast {
	max-width: 500px;
	width: 100%;
	background: var(--text);
	position: fixed;
	bottom: 0;
	transform: translateX(-50%) translateY(100%) rotate(0.01deg);
	left: 50%;
	display: flex;
	flex-direction: row;
	align-items: center;
	transition: ease-in all 0.2s;
	z-index: 10;
}

#toast.active {
	transform: translateX(-50%) translateY(0%) rotate(-0.01deg);
	transition: ease-out all 0.2s;
}

#toast-message {
	margin-left: 24px;
	color: var(--bkg-primary);
}

#toast-button {
	margin: 0;
	margin-left: auto;
}