html, body, #wrapper {
	overflow-x: hidden;
}

main {
	padding: 0;
	padding-top: 8px;
	overflow-x: hidden;
	width: 100vw;
}

main > div {
	padding: 15px;
	cursor: pointer;
	transition: background 0.2s;
	text-align: left;
}

main > div::before {
	width: 48px;
	height: 48px;
	float: left;
	border-radius: 50%;
	background: var(--bkg-secondary);
	content: attr(data-icon-letter);
	text-align: center;
	line-height: 48px;
	margin-right: 1rem;
	font-size: 1.2rem;
	transition: all 0.2s;
	font-family: 'work sans', 'open sans', sans-serif;
}

main > div:active, main > div.held-down {
	background: var(--bkg-secondary);
	transition: none;
}

main > div:active::before, main > div.held-down::before {
	background: var(--bkg-tertiary);
	transition: none;
}

main > div p {
	margin: 0;
	color: #666666;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow-x: hidden;
}

main > div p.who {
	font-size: 1.1rem;
	color: var(--text);
}

#loader {
	margin-top: calc(5vw + 10px);
}

#no-conversations {
	padding: calc(10px + 5vw);
}

#conversation {
	z-index: 2;
	transform: translateX(100%);
	transform-origin: right center;
	top: 64px;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	background: var(--bkg-primary);
	transition: all 0.2s ease-in;
	position: fixed;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}

#main-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 100%;
	visibility: hidden;
	opacity: 0;
	background: black;
	transition: opacity 0.2s ease-in, visibility 0.2s;
}

#conversation.active ~ #main-overlay {
	visibility: visible;
	opacity: 0.3;
	transition: opacity 0.2s ease-out, visibility 0.2s;
}

#conversation::after {
	content: 'spacer'; /* empty text doesn't work */
	height: 79px;
	margin: 0;
	padding: 0;
	float: left;
	clear: both;
	visibility: hidden;
}

#conversation.active {
	transition: all 0.2s ease-out;
	transform: translateX(0);
}

#conversation ~ main {
	transition: transform 0.2s ease-in;
}

#conversation.active ~ main {
	transform: translateX(-100px);
	transition: transform 0.2s ease-out;
	overflow: hidden;
	-webkit-overflow-scrolling: auto;
	position: fixed;
}

#conversation > div.message {
	background: var(--bkg-secondary);
	float: left;
	clear: both;
	margin: 8px;
	margin-bottom: 0;
	padding: 7px 10px;
	max-width: 70%;
	border-radius: 3px;
}

#conversation > div.message.my-message {
	float: right;
	background: var(--text);
	color: var(--bkg-primary);
}

#conversation #new-conversation-username {
	background: var(--bkg-secondary);
	border: none;
	margin: 0;
	width: 100%;
	max-width: unset;
	position: relative;
	top: -48px;
	transition: top 0.2s ease-in;
}

#conversation #new-conversation-username.visible {
	top: 0;
	transition: top 0.2s ease-out;
}

#conversation #new-conversation-username.no-animate {
	transition: none !important;
}

#bottom-bar-container {
	position: fixed;
	z-index: 2;
	left: 0;
	right: 0;
	bottom: 0;
	overflow-x: hidden;
	height: 69px;
}

#bottom-bar {
	z-index: 2;
	position: fixed;
	left: 15px;
	right: 15px;
	bottom: 15px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 54px;
	transition: transform 0.2s ease-in;
	transform: translateX(100vw);
}

#conversation.active ~ #bottom-bar-container #bottom-bar {
	transform: translateX(0);
	transition: transform 0.2s ease-out;
}

#bottom-bar input {
	max-width: unset;
	height: 54px;
	margin: 0;
	flex: 1;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	padding-left: 18px;
	border: none;
	background: var(--bkg-secondary);
	box-shadow: 0 0 0 0 var(--accent-light) inset;
	transition: background 0.2s;
}

#bottom-bar input:focus {}

#bottom-bar span {
	height: 54px;
	width: 54px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	text-align: center;
	background: var(--accent-light);
	box-sizing: border-box;
	padding: 15px;
	transition: all 0.2s;
	cursor: pointer;
}

#bottom-bar span:active, #bottom-bar span.held-down {
	transition: none;
	background: var(--accent-dark);
}

#bottom-bar span img {
	width: 24px;
	height: 24px;
}

#bottom-bar span#send-image {
	background: var(--bkg-tertiary);
	border-radius: 9999px;
	margin-right: 10px;
}

#bottom-bar span#send-image:active, #bottom-bar span#send-image.held-down {
	background: var(--bkg-quaternary);
}

#conversation.active ~ #plus {
	transform: translate(-25%, -25%) scale(0);
	opacity: 0;
	transition: all 0.2s ease-in;
}

#plus {
	z-index: 3;
	transform: translate(-25%, -25%) scale(1);
	opacity: 1;
	min-width: 57px;
	min-height: 57px;
	max-width: 65px;
	max-height: 65px;
	width: 6vw;
	height: 6vw;
	border-radius: 50%;
	position: fixed;
	right: 0;
	bottom: 0;
	background-color: var(--accent-light);
	background-image: url(/static/ic_add_black_24px.svg);
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: center;
	cursor: pointer;
	transition: all 0.2s ease-out;
}

#plus:active, #plus.held-down {
	background-color: var(--accent-dark);
	transition: none;
}